---
permalink: /a-propos/
---
<!doctype html>
<html>
<head>
  <title>Société belge de Débat - A propos</title>
  <meta property="og:title" content="A propos de Rugir" />
  {% include head.html %}
</head>
<body>
  <div style="overflow:hidden;">
    {% include header.html %}
    {% include nav.html %}

    <section class="main-section" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Comment Rugir est-elle née ?</h2>
        <h6>Beyrouth - Paris - Bruxelles</h6>
        <p class="justify">Rugir, c’est une bande d’amis et d’anciens de la Conférence Olivaint de Belgique qui a pris goût au débat parlementaire en se confrontant à des étudiants francophones des quatre coins du monde lors du championnat international de débat francophone de Beyrouth.</p>
        <p class="justify">Après cette expérience, c’était devenu une évidence pour nous : il fallait lancer une association spécialement dédiée au débat parlementaire pour partager notre passion !</p>
      </div>
    </section>

    {% include participer_banniere.html %}

<section class="main-section team alabaster" id="team">
  <div class="container">
    <h2>Bureau</h2>
    <h6>Faites connaisance avec les personnes derrière le projet.</h6>
    <div class="team-leader-block clearfix">

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/quentin.png" alt="">
              <ul>
                <li><a href="mailto:quentin@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/quentin-de-dr%C3%A9e-bb74b316b/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Quentin de Drée</h3>
            <span class="wow fadeInDown delay-03s">Président</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Jongleur de mots et ami de la belle langue, ce saltimbanque de la joute verbale apprécie le duel. Armé de son faisceau d’expressions, tantôt flottantes tantôt pédantes, il effleure cependant plus qu’il ne touche.</p>
            <p>Mais il aime ça ! Au point d’en oublier, trop souvent, la trotteuse de l’horloge (tic. Tac…tic…Tac – 5 minutes 15 – Merci Monsieur le Premier Ministre, veuillez-vous rasseoir).</p>
            <p>Il n’en reste pas moins un passionné de l’éloquence, sous toutes ses formes et jusqu’au vertige. Alors pour le rejoindre, à l’instar de Baudelaire, il faudra vous enivrer sans trêve. De quoi ? De vin, de poésie, ou de vertu à votre guise (sic)!</p>
            <p><i>P.S. Si par pure maladresse, la mémoire d’un petit Caporal Corse est évoquée au détour d’une conversion. Un conseil : annulez vos rendez-vous de la semaine…</i></p>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/henri.jpg" alt="">
              <ul>
                <li><a href="mailto:henri@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/hdeplaen/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Henri De Plaen</h3>
            <span class="wow fadeInDown delay-03s">Formation</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Dégustateur de bons mots et de fines phrases, il savoure le beau débat comme un bon cigare, mais refuse de se faire enfumer par des argument boiteux.</p>
            <p>Chercheur en intelligence artificielle, c'est au final pour s'assurer que l'homme est toujours plus malin que la machine qu'il tient à l'affronter en débat.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/samy.jpeg" alt="">
              <ul>
                <li><a href="mailto:samy@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/samy-laarbaui/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Samy Laarbaui</h3>
            <span class="wow fadeInDown delay-03s">Evénements</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Avec un agenda et un carnet d’adresses plus rempli que ceux d’un Premier ministre, Samy se charge cette année de l’organisation des événements et, à son plus grand plaisir, de la communication de Rugir.</p>
            <p>Travaillant dans la gestion de crise, Samy a appris à jongler avec les mots en usant de diplomatie, même s’il perd toute notion de bienveillance lorsqu’il endosse son costume de Secrétaire général.</p>
            <p>Si vous voulez réussir à l’apercevoir entre son travail, son 28e master en cours du soir, ses différents volontariats, ses cours de langue, Rugir, ses 15 voyages par an, une vie sociale plus que chargée et ses 4 afterwork par semaine, tentez votre chance du côté du Marseillais (Pl. jeu de balle) où il s’est promis de goûter les 90 pastis à la carte avant de déménager.</p>
            <p><i>P.S. Il fait les meilleures pâtes carbo du Royaume. </i></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/florine.jpg" alt="">
              <ul>
                <li><a href="mailto:florine@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Florine Campo</h3>
            <span class="wow fadeInDown delay-03s">Intervenants</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Passionnée par mes études en droit, j'ai toujours été inspirée par la force des mots ! C'est donc avec un enthousiasme certain que je suis venue m'entraîner au sein du collectif pour apprendre de mes pairs, tant en art de la parole qu'en actualités sociales, économiques et politiques déconcertantes comme réjouissantes! Cette année, j'ai eu l'occasion de défendre, au sein de la Fédération Française de Débat et d'éloquence et de PubliqContest, en demi-finale, mes convictions philo-spirituelles ! Ma citation préférée? : "Dans la vie, rien n'est à craindre, tout est à comprendre."</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/augustin.jpeg" alt="">
              <ul>
                <li><a href="mailto:augustin@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/augustin-malempr%C3%A9-/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Augustin Malempré</h3>
            <span class="wow fadeInDown delay-03s">Trésorier</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>À la recherche de passions divergentes, il troque sa blouse de scientifique en herbe le jour pour la chemise du déclamateur le soir venant. C’est une manière pour lui de respirer une fois sa photosynthèse accomplie.</p>
            <p>Qu’importe le sujet, il y mettra du cœur et surtout de la voix, tenant tant qu’il peut de s’en tenir à son rôle, bien que ça le démange de placer une envolée lyrique de trop… Ceci-dit il apprend vite (c’est lui qui le dit) remerciant dorénavant ses adversaires d’un ton impertinent plutôt que par des mots courtois.</p>
            <p>Ah oui, sachez qu’il tuerait père et mère pour un bon mot, alors ayez l’amabilité de ne pas vous offusquer de ses piques, au risque qu’il ne s’hérisse !</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/melvyn.jpg" alt="">
              <ul>
                <li><a href="mailto:melvyn@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/melvyn-kuetgens-93284aa6/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Melvyn Kuetgens</h3>
            <span class="wow fadeInDown delay-03s">Projets</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>« Poète !...<br />Oui, Monsieur, poète ! et tellement, qu’en  ferraillant je vais – hop ! – à l’improvisade, vous composer une ballade. »</p>
            <p>Amoureux des belles-lettres, de la musique et de l’Histoire avec un grand H, l’hurluberlu ci-présent, ce Don Quichotte des causes délaissées, a pourtant une formation de bioingénieur. Son dernier centre d’intérêt, que dis-je, sa nouvelle passion, sa nouvelle religion ? Je vous le donne en mille : la rhétorique. Attention à quand il prêche pour elle : il risque de vous convertir !</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% include participer_banniere.html %}

{% include footer.html %}

<script type="text/javascript">
$(document).ready(function(e) {
  $('#test').scrollToFixed();
  $('.res-nav_click').click(function(){
    $('.main-nav').slideToggle();
    return false

  });

});
</script>

<script>
wow = new WOW(
  {
    animateClass: 'animated',
    offset:       100
  }
);
wow.init();

</script>


<script type="text/javascript">
$(window).load(function(){

  $('.main-nav li a').bind('click',function(event){
    var $anchor = $(this);

    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
    }, 1500,'easeInOutExpo');
    /*
    if you don't want to use the easing effects:
    $('html, body').stop().animate({
    scrollTop: $($anchor.attr('href')).offset().top
  }, 1000);
  */
  event.preventDefault();
});
})
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
    $('.portfolioFilter .current').removeClass('current');
    $(this).addClass('current');

    var selector = $(this).attr('data-filter');
    $container.isotope({

      filter: selector,
    });
    return false;
  });

});

</script>

</body>
</html>
