---
permalink: /a-propos/
---
<!doctype html>
<html>
<head>
  <title>Société belge de Débat - A propos</title>
  <meta property="og:title" content="A propos de Rugir" />
  {% include head.html %}
</head>
<body>
  <div style="overflow:hidden;">
    {% include header.html %}
    {% include nav.html %}

    <section class="main-section" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Comment Rugir est-elle née ?</h2>
        <h6>Beyrouth - Paris - Bruxelles</h6>
        <p class="justify">Rugir, c’est une bande d’amis et d’anciens de la Conférence Olivaint de Belgique qui a pris goût au débat parlementaire en se confrontant à des étudiants francophones des quatre coins du monde lors du championnat international de débat francophone de Beyrouth.</p>
        <p class="justify">Après cette expérience, c’était devenu une évidence pour nous : il fallait lancer une association spécialement dédiée au débat parlementaire pour partager notre passion !</p>
      </div>
    </section>

    {% include participer_banniere.html %}

<section class="main-section team alabaster" id="team">
  <div class="container">
    <h2>Bureau</h2>
    <h6>Faites connaisance avec les personnes derrière le projet.</h6>
    <div class="team-leader-block clearfix">

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/simon.jpg" alt="">
              <ul>
                <li><a href="mailto:simon@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/simon-orellana-030b451bb/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Simon Orellana</h3>
            <span class="wow fadeInDown delay-03s">Président du Bureau</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
              <p>Étudiant en relations internationales, j’ai d’abord voulu sauver le monde… puis j’ai découvert qu’il fallait déjà survivre à un débat.</p>
              <p>Aujourd’hui président de Rugir, j’essaie d’organiser des débats parlemantaires sans provoquer de guerre civile oratoire.</p>
              <p>Je parle vite, je gesticule beaucoup, et je crois sincèrement qu’une bonne répartie vaut parfois un traité de paix (ou pas).</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/kenza.jpg" alt="">
              <ul>
                <li><a href="mailto:kenza@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Kenza El Meskioui</h3>
            <span class="wow fadeInDown delay-03s">Communication</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
              <p>Entre les études de médecine et sa passion des mots, elle cherche un équilibre.</p>
              <p>L’éloquence, pour elle, c’est une façon de s’évader, un moyen de défendre ses valeurs et d’être entendue.</p>
              <p>L’art devient son espace de liberté, et les mots, sa façon de faire résonner ce qui compte vraiment.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/edmond.jpg" alt="">
              <ul>
                <li><a href="mailto:edmond@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/edmond-van-de-werve-a01b69266/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Edmond van de Werve</h3>
            <span class="wow fadeInDown delay-03s">Organisation</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
              <p>Aussi incisif que Cicéron, mais aussi candide que Rousseau ; aussi ardent que Churchill mais aussi naïf qu’étudiant de SciencesPo, Edmond, pédaleur infatigable du plat-pays, c’est mille opinions franches et un goût effréné du débat, mais une éloquence à perfectionner pour transformer cette énergie en véritables discours!</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/william.jpg" alt="">
              <ul>
                <li><a href="mailto:william@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">William Bossche</h3>
            <span class="wow fadeInDown delay-03s">Polyvalent</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
              <p>Dans toutes ses passions de la politique à l'histoire, les mots ne sont jamais très loin.</p>
              <p>William parle avec passion, parfois trop, mais toujours avec ce petit air de croire qu’il pourrait convaincre une pierre de changer d’avis.</p>
              <p>Cette année il sera membre polyvalent de Rugir, un rôle de lourdes responsabilités où on se doit d'être prêt pour tous les imprévus...</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/gregory.jpg" alt="">
              <ul>
                <li><a href="mailto:gregory@rugir.be" class="zmdi zmdi-email" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/slotboomg/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Grégory Slotboom</h3>
            <span class="wow fadeInDown delay-03s">Formation & Trésorerie</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
              <p>Vaillant élucubrateur, Greg est un voyageur qui navigue le langage et la pensée sans carte, ni compas.</p>
              <p>Lui qui rame dans l’immensité du vocabulaire français il est à la recherche du mot, le bon, le doux, le dur, juste.</p>
              <p>Un mardi sur deux, il vient à quai.</p>
              <p>Avec gaieté, il vous contera ses voyages dans le détroit de rhétorique, ses aventures dans les mers épidictiques et ses aventures amoureuses le long du fleuve éristique.</p>
              <p>Formateur truculant, il met sa verve au service de votre navigation.</p>
              <p>Enfin, en bon pirate, il sera trouver votre bourse yo ho ho.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include participer_banniere.html %}

{% include footer.html %}

<script type="text/javascript">
$(document).ready(function(e) {
  $('#test').scrollToFixed();
  $('.res-nav_click').click(function(){
    $('.main-nav').slideToggle();
    return false

  });

});
</script>

<script>
wow = new WOW(
  {
    animateClass: 'animated',
    offset:       100
  }
);
wow.init();

</script>


<script type="text/javascript">
$(window).load(function(){

  $('.main-nav li a').bind('click',function(event){
    var $anchor = $(this);

    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
    }, 1500,'easeInOutExpo');
    /*
    if you don't want to use the easing effects:
    $('html, body').stop().animate({
    scrollTop: $($anchor.attr('href')).offset().top
  }, 1000);
  */
  event.preventDefault();
});
})
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
    $('.portfolioFilter .current').removeClass('current');
    $(this).addClass('current');

    var selector = $(this).attr('data-filter');
    $container.isotope({

      filter: selector,
    });
    return false;
  });

});

</script>

</body>
</html>
