---
permalink: /a-propos/
---
<!doctype html>
<html>
<head>
  <title>Société belge de Débat - A propos</title>
  <meta property="og:title" content="A propos de Rugir" />
  {% include head.html %}
</head>
<body>
  <div style="overflow:hidden;">
    {% include header.html %}
    {% include nav.html %}

    <section class="main-section" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Comment Rugir est-elle née ?</h2>
        <h6>Beyrouth - Paris - Bruxelles</h6>
        <p class="justify">Rugir, c’est une bande d’amis et d’anciens de la Conférence Olivaint de Belgique qui a pris goût au débat parlementaire en se confrontant à des étudiants francophones des quatre coins du monde lors du championnat international de débat francophone de Beyrouth.</p>
        <p class="justify">Après cette expérience, c’était devenu une évidence pour nous : il fallait lancer une association spécialement dédiée au débat parlementaire pour partager notre passion !</p>
      </div>
    </section>

    {% include participer_banniere.html %}

<section class="main-section team alabaster" id="team">
  <div class="container">
    <h2>Bureau</h2>
    <h6>Faites connaisance avec les personnes derrière le projet.</h6>
    <div class="team-leader-block clearfix">

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/robin.jpg" alt="">
              <ul>
                <li><a href="#" class="zmdi zmdi-linkedin" target="_blank"></a></li>
                <li><a href="#" class="zmdi zmdi-email" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Robin Herrero</h3>
            <span class="wow fadeInDown delay-03s">Communication</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Passionné de sports de glisse et d’arguments bien sentis et ne rechignant pas à recourir au name-dropping lorsque la situation s’y prête, Robin Herrero est titulaire d’un master en philosophie. Cette soif de comprendre le monde qui l’entoure dans son infinie diversité se révèle être un inconvénient plus qu’un avantage, lorsque les débats se doivent d’être concis et tranchés, et que la fougue doit prendre le pas sur la mesure.</p>
            <p>Lors de son passage à la Conférence Olivaint de Belgique, il est toutefois parvenu, petit à petit, à faire abstraction de sa formation pour n’en garder que les éléments de langage et instrumentaliser les auteurs qu’il a lu pour leur faire appuyer son propos. Comme pour se repentir d’avoir ainsi vendu son âme au diable, il dit attacher plus d’importance au fond qu’à la forme, mais en même temps idolâtre le sens de la formule.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/henri.jpg" alt="">
              <ul>
                <li><a href="https://www.facebook.com/hdeplaen" class="zmdi zmdi-facebook" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/hdeplaen/" class="zmdi zmdi-linkedin" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Henri De Plaen</h3>
            <span class="wow fadeInDown delay-03s">Secrétaire</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Dégustateur de bons mots et de fines phrases, il savoure le beau débat comme un bon cigare, mais refuse de se faire enfumer par des argument boiteux.</p>
            <p>Chercheur en intelligence artificielle, c'est au final pour s'assurer que l'homme est toujours plus malin que la machine qu'il tient à l'affronter en débat.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/pl.jpg" alt="">
              <ul>
                <li><a href="#" class="zmdi zmdi-linkedin" target="_blank"></a></li>
                <li><a href="#" class="zmdi zmdi-email" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Pierre-Louis Renard</h3>
            <span class="wow fadeInDown delay-03s">Formation</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Après une très courte et désastreuse carrière dans le monde impitoyable du cinéma chinois, il décide de se reconvertir dans la diplomatie. A côté d’une carrière pleine de promesses, il pratique l’art oratoire en dilettante dans un style plutôt théâtral. Ah oui, il aime les linguini alle vongole et les belles cravates.</p>
            <p>Il sera en charge de votre formation.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow"><a href="#"></a></div>
              <img src="../../img/team/seb.jpg" alt="">
              <ul>
                <li><a href="#" class="zmdi zmdi-linkedin" target="_blank"></a></li>
                <li><a href="#" class="zmdi zmdi-email" target="_blank"></a></li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-03s">Sébastien Francotte</h3>
            <span class="wow fadeInDown delay-03s">Trésorier</span>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="team-bio">
            <p>Jeune consultant en transformation digitale, c'est sur les bancs de Solvay que Sébastien développe son intérêt pour le business et les nouvelles technologies.  C’est cependant dans l'étude de la chose politique qu’il aiguise son goût du débat et son enthousiasme pour la joute oratoire.</p>
            <p>S’il s’attellera à la gestion active des fonds de Rugir, ses cibles ne seront plus les licornes de Wall Street mais bien les gazelles babillardes libanaises.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% include participer_banniere.html %}

{% include footer.html %}

<script type="text/javascript">
$(document).ready(function(e) {
  $('#test').scrollToFixed();
  $('.res-nav_click').click(function(){
    $('.main-nav').slideToggle();
    return false

  });

});
</script>

<script>
wow = new WOW(
  {
    animateClass: 'animated',
    offset:       100
  }
);
wow.init();

</script>


<script type="text/javascript">
$(window).load(function(){

  $('.main-nav li a').bind('click',function(event){
    var $anchor = $(this);

    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
    }, 1500,'easeInOutExpo');
    /*
    if you don't want to use the easing effects:
    $('html, body').stop().animate({
    scrollTop: $($anchor.attr('href')).offset().top
  }, 1000);
  */
  event.preventDefault();
});
})
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
    $('.portfolioFilter .current').removeClass('current');
    $(this).addClass('current');

    var selector = $(this).attr('data-filter');
    $container.isotope({

      filter: selector,
    });
    return false;
  });

});

</script>

</body>
</html>
