---
permalink: /concours/
---

<!doctype html>
<html>
<head>
  <title>Société belge de Débat - Championnats</title>
  <meta property="og:title" content="Rugir aux quatre coins du monde" />
  {% include head.html %}
</head>
<body>
  <div style="overflow:hidden;">
    {% include header.html %}
    {% include nav.html %}

    <section class="main-section" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Les championnats</h2>
        <p class="justify">Au-delà des entraînements bimensuels, notre objectif est de participer à un maximum de championnats internationaux pour rencontrer et se confronter à des étudiants de toute la francophonie.</p>
        <h3>Championnat de la FFDE</h3>
        <p class="justify">En tant que membre de la <i>Fédération Française de Débat et d'Eloquence</i>, Rugir participe à son championnat qui dure l'année durant, les rencontres prévoyant chaque fois 24 heures de préparation. Ces compétitions sont organisées avec les étudiants des associations partenaires sous la forme de chocs par équipe. Les sujets débattus sont généralement en lien avec l'actualité ou abordent les grands sujets de société. En tant qu'unique association belge participant, nous représenterons la Belgique dans son ensemble, indépendamment des différentes universités et facultés. <a href="https://www.ffdeloquence.org">En savoir plus...</a></p>
        <h3>Fédération francophone de Débat</h3>
        <p class="justify">Rugir est également membre de la <i>Fédaration francophone de Débat</i> qui organise le plus grand concours de débat parlementaire de la francophonie. Celui a lieu sur un mois seulement, au début du printemps. Les phases de poule durent un week-end entier où les débats s'enchaînent, ainsi que les participants et les équipes affrontées. Une heure de préparation, une heure de débat et rebelotte. Qu'est-ce que c'est gai !</p>
        <h3 style="font-variant:normal; font-style:italic;">Plus à venir...</h3>
      </div>
    </section><!--main-section-end-->

    <!-- <section class="main-section quote no-padding" id="client">
      <div class="pattern height-resize">
        <div class="container">
          <b class="quote-right wow fadeInDown delay-03"><i class="zmdi zmdi-quote"></i></b>
          <div class="row">
            <div class="col-lg-12">
              <p class="quote-haead wow fadeInDown delay-05">Les différents concours à l'international.</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    {% include participer_banniere.html %}

    <section class="main-section alabaster">
      <div class="container">
        <h2>Modalités</h2>
        <p class="justify"><b>Financement</b> -  Le coût lié à la participation aux voyages est à charge des membres. Ceux-ci seront organisés avec les associations partenaires afin d’en limiter les dépenses au strict minimum. Pour les voyages à Paris par exemple, le covoiturage sera encouragé. De plus, les voyages seront annoncés plusieurs mois à l'avance afin de pouvoir profiter des meilleurs tarifs.</p>
      </div>
    </section>

    {% include a_propos_banniere.html %}

    {% include footer.html %}

    <script type="text/javascript">
    $(document).ready(function(e) {
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function(){
        $('.main-nav').slideToggle();
        return false

      });

    });
    </script>

    <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();

    </script>


    <script type="text/javascript">
    $(window).load(function(){

      $('.main-nav li a').bind('click',function(event){
        var $anchor = $(this);

        $('html, body').stop().animate({
          scrollTop: $($anchor.attr('href')).offset().top - 102
        }, 1500,'easeInOutExpo');
        /*
        if you don't want to use the easing effects:
        $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      event.preventDefault();
    });
  })
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
    $('.portfolioFilter .current').removeClass('current');
    $(this).addClass('current');

    var selector = $(this).attr('data-filter');
    $container.isotope({

      filter: selector,
    });
    return false;
  });

});

</script>


</body>
</html>
