---
permalink: /debat/
---
<!doctype html>
<html>
<head>
  <title>Société belge de Débat - Le débat parlementaire</title>
  <meta property="og:title" content="Le débat parlementaire" />
  {% include head.html %}
</head>
<body>
  <div style="overflow:hidden;">
    {% include header.html %}
    {% include nav.html %}

    <section class="main-section" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Le débat parlementaire</h2>
        <h6>en quelques lignes</h6>
        <figure class="col-lg-4 col-sm-4 wow fadeInLeft">
          <img src="../../img/clochette.png" alt="Cloche de table">
        </figure>
        <div class="col-lg-8 col-sm-8 featured-work">
          <p class="justify">Il y a huit intervenants dans ce format: deux équipes de quatre personnes de chaque côté. Chaque orateur prononce un discours d’une durée maximale de cinq minutes. La première et la dernière minute sont protégées, mais entre ces moments, des questions peuvent être posées par la partie adverse.</p>
          <p class="justify">Les discours sont donnés en alternance entre majorité et opposition, en commençant par le chef de la majorité qui présente la proposition de loi, suivi du chef de l’opposition qui présente un premier argument contre la proposition. Les deuxièmes et troisièmes représentants de chaque équipe doivent alimenter le débat avec un nouvel argument. Les deux derniers orateurs doivent résumer le débat en faveur de leur équipe respective, ils ne peuvent pas présenter de nouveaux arguments (même s’ils peuvent donner de nouvelles réponses).</p>
          <p class="justify">Ce n’est pas clair, pas grave ! La pratique reste la meilleure explication !</p>
          <h3>Horaire</h3>
          <p class="justify">Chaque réunion connaîtra un court exposé théorique sur l'éloquence et la rhétorique, une mise en pratique à travers des exercices spécifiques pour finir avec l'apothéose : le débat. Cela dure au total trois heures, dont une pause au milieu : on commence à 19 heures et finit à 22 heures. Il sera fourni de quoi se sustenter pendant la réunion.</p>
        </div>
      </div>
    </section>

    <section class="main-section alabaster" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Fonctionnement</h2>
        <h6>Principes et règles</h6>
        <div class="service-list">
          <h3>La motion</h3>
          <p class="justify">Souvent en lien avec l’actualité, le sujet est communiqué aux candidats une heure avant le début du débat. Durant ce délai, les orateurs sont amenés à réfléchir à la manière dont il convient d’appréhender le sujet en tenant tout autant compte des arguments qu’ils avanceront que de ceux qui leur seront opposés par leurs adversaires. Chaque équipe doit travailler de manière solidaire afin que la démonstration qui se dégage des discours prononcés par chacun des orateurs constituant l’équipe soit la plus cohérente possible.</p>
          <h3>Les acteurs</h3>
          <p class="justify">Le gouvernement est composé d’un Premier ministre, de deux Ministres et d’un Secrétaire général. Le Premier ministre contextualise et problématise le sujet, définit ses termes, annonce le plan de son équipe et présente le premier argument. Les ministres commencent leur discours en réfutant le discours du débatteur qui les a précédés puis développent chacun l’un des arguments de leur équipe. Le Secrétaire général résume les arguments du gouvernement et conclut. Le gouvernement est libre de définir le sujet comme il l’entend. Toute définition trop restrictive ou trop évasive est néanmoins prohibée et pénalisée.</p>
          <p class="justify">L’opposition est composée d’un Chef de l’opposition, de deux Députés et d’un Secrétaire général. Le Chef de l’opposition reprend la définition des termes du sujet donnée par le Premier ministre du gouvernement, réfute l’argument présenté par ce dernier, annonce le plan de son équipe et présente le premier argument de cette dernière. Les députés commencent leur discours en réfutant le discours du débatteur qui les a précédés puis développent chacun l’un des arguments de leur équipe. Le Secrétaire général résume les arguments de l’opposition et conclut.</p>
          <h3>Le discours</h3>
          <p class="justify">Chaque discours dure cinq minutes et se divise en trois parties, rythmées systématiquement par la clochette du jury :</p>
          <ul>
            <li>Une <em>minute protégée</em> durant laquelle personne n’est autorisé à interrompre l’orateur ;</li>
            <li>Trois <em>minutes libres</em> durant lesquelles les membres de l’équipe adverse peuvent à tout moment intervenir en posant des questions à l’orateur. Chaque participant doit impérativement accepter de répondre à au-moins une question ;</li>
            <li>Une <em>minute protégée</em> durant laquelle l’orateur conclut sans être interrompu.</li>
          </ul>
          <h3>Quelques exemples de sujets passés</h3>
            Voici une liste non-exhaustive de sujets type :
            <ul>
              <li><i>Ce gouvernement suspendrait les subsides aux artistes accusés d'attouchements sexuels ;</i></li>
              <li><i>Ce gouvernement légaliserait le dopage ;</i></li>
              <li><i>Ce gouvernement taxerait d'accises les denrées mauvaises pour la santé ;</i></li>
              <li><i>Ce gouvernement organiserait des cours d'échecs en humanités ;</i></li>
              <li><i>Ce gouvernement mettrait fin à la monnaie fiduciaire ;</i></li>
              <li><i>Ce gouvernement construirait de nouvelles lignes de métro en ville.</i></li>
            </ul>
        </div>
      </div>
    </section>

    <section class="main-section" id="service"><!--main-section-start-->
      <div class="container">
        <h2>En pratique</h2>
        <h6>Visionnez la finale française 2021-2022</h6>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/-ZTIRR_nkck?si=GoZdSXW4vSJ2FVyp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </section>

    {% include participer_banniere.html %}

    {% include footer.html %}

    <script type="text/javascript">
    $(document).ready(function(e) {
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function(){
        $('.main-nav').slideToggle();
        return false

      });

    });
    </script>

    <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();

  </script>


  <script type="text/javascript">
  $(window).load(function(){

    $('.main-nav li a').bind('click',function(event){
      var $anchor = $(this);

      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top - 102
      }, 1500,'easeInOutExpo');
      /*
      if you don't want to use the easing effects:
      $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top
    }, 1000);
    */
    event.preventDefault();
  });
})
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
    $('.portfolioFilter .current').removeClass('current');
    $(this).addClass('current');

    var selector = $(this).attr('data-filter');
    $container.isotope({

      filter: selector,
    });
    return false;
  });

});

</script>

</body>
</html>
