<!doctype html>
<html>
<head>
  {% include head.html %}
  <title>Société belge de débat - Accueil</title>
  <meta property="og:title" content="Société belge de débat" />

</head>
<body>
  {% include header.html %}
  {% include nav.html %}

  <section class="main-section no-padding-bottom" id="service"><!--main-section-start-->
    <div class="container">
      <h2>Qu'est-ce que Rugir ?</h2>
      <h6>Première association francophone de débat parlementaire de Belgique</h6>
      <div class="row">
        <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
          <div class="service-list">
            <div class="service-list-col1">
              <i class="zmdi zmdi-calendar"></i>
            </div>
            <div class="service-list-col2">
              <h3>15 réunions par an</h3>
              <p>Chaque membre s’entraine régulièrement pour se former à l’art oratoire, sous les conseils bienveillants de ses pairs et de spécialistes.</p>
            </div>
          </div>
          <div class="service-list">
            <div class="service-list-col1">
              <i class="zmdi zmdi-globe-alt"></i>
            </div>
            <div class="service-list-col2">
              <h3>Un environnement international</h3>
              <p>Rugir est membre de plusieurs fédérations d'éloquence. Au long de l’année, des championnats en Belgique et à l'étranger sont proposés aux membres.</p>
            </div>
          </div>
          <div class="service-list">
            <div class="service-list-col1">
              <i class="zmdi zmdi-accounts-alt"></i>
            </div>
            <div class="service-list-col2">
              <h3>Une équipe hyper motivée</h3>
              <p>Lancée par une bande d'amis, nous souhaitons partager notre passion pour l’éloquence et le débat !</p>
            </div>
          </div>
          <div class="service-list">
            <div class="service-list-col1">
              <i class="zmdi zmdi-cake"></i>
            </div>
            <div class="service-list-col2">
              <h3>1<sup>ère</sup> association, 7 ans déjà !</h3>
              <p>Nous sommes la première et l'unique association francophone de ce genre en Belgique. Vivez cette aventure !</p>
            </div>
          </div>
        </div>

        <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
          <img src="../img/pupitre.png" alt="Pupitre de Rugir">
        </figure>

      </div>
    </div>
  </section><!--main-section-end-->

  <section class="main-section quote4 no-padding" id="client"><!--main-section client-part-start-->
    <div class="pattern height-resize">
      <div class="container">
        <b class="quote-right wow fadeInDown delay-03"><i class="zmdi zmdi-quote"></i></b>
        <div class="row">
          <div class="col-lg-12">
            <p class="quote-haead wow fadeInDown delay-05">L'éloquence n'est pas accordée à tout le monde, et chacun parle à sa manière.</p>
          </div>
        </div>
        <ul class="client wow fadeIn delay-05s">
          <li><a href="https://fr.wikipedia.org/wiki/Fredrika_Bremer">
            <h3>Fredrika Bremer</h3>
          </a></li>
        </ul>
      </div>
    </div>
  </section><!--main-section client-part-end-->

  <section class="main-section alabaster"><!--main-section alabaster-start-->
    <div class="container">
      <div class="row">
        <figure class="col-lg-5 col-sm-5 wow fadeInLeft">
          <img src="../img/lionceau.png" alt="Medaillon">
        </figure>
        <div class="col-lg-7 col-sm-7 featured-work">
          <h2>Nos engagements</h2>
          <P class="padding-b">Mais Rugir, c'est bien plus qu'une simple association de débat, c’est un projet complet visant à développer l'art de l'argumentation en Belgique. Association lancée par des jeunes et pour des jeunes, entraide et bienveillance sont au cœur de notre engagement.</p>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-02s">
                <i class="zmdi zmdi-key"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-02s">
                <h3>Donner à chacun les clés de la parole</h3>
                <p>La parole est un art puissant qui ouvre bien des portes. Avec Rugir, vous apprendrez à la maîtriser au mieux, à en tirer le meilleur de vous-même.</p>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-04s">
                <i class="zmdi zmdi-graduation-cap"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-04s">
                <h3>Former les jeunes talents de demain</h3>
                <p>Tout le monde est le ou la bienvenue, la motivation étant le seul prérequis. Apprenez à traduire votre pensée, à l'articuler et à l'exprimer au mieux.</p>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-06s">
                <i class="zmdi zmdi-balance"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-06s">
                <h3>Construire un débat de société</h3>
                <p>Les thèmes débattus tentent couvrent les grandes questions d’actualité. Débattre, c'est encourager chacun à écouter les autres, se forger une opinion argumentée et la défendre dans le respect de celles des autres.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--main-section alabaster-end-->

    <?php include 'participer-banniere.php' ?>

    <section class="main-section no-padding-bottom" id="service"><!--main-section-start-->
      <div class="container with-lion">
        <div class="row">
          <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
            <div class="service-list texte-lion">
              <h6 style="margin-bottom:15px !important;">A quoi s'attendre</h6>
              <h2 style="margin-bottom:60px !important;">comme membre de Rugir ?</h2>
              <h3>Rugir, gagner en expérience et en confiance</h3>
              <p class="justify">Nos objectifs sont de former les étudiants au débat parlementaire afin de participer à un maximum de championnats internationaux et ainsi donner la possibilité de voyager et de rencontrer des étudiants de tous les horizons partageant la même passion du débat.</p>

              <p class="justify">Le débat parlementaire est une discipline complète qui demande de la méthode, une capacité de rédaction et d’improvisation, une bonne élocution, une connaissance des grands enjeux politiques et sociétaux actuelles, de la flexibilité dans la défense d’une opinion, une gestion du stress, etc.</p>

              <p class="justify">Une seule personne ne possède pas toutes ces qualités mais peut certainement les améliorer ! Notre recette, la pratique !</p>
            </div>
          </div>
          <figure class="col-lg-6 col-sm-6 wow fadeInLeft no-padding">
            <img class="lion" src="../img/lion.png" alt="Lion rugissant">
          </figure>
        </div>
      </div>
    </section><!--main-section-end-->

    <section class="main-section quote2 no-padding" id="client"><!--main-section client-part-start-->
      <div class="pattern height-resize">
        <div class="container">
          <b class="quote-right wow fadeInDown delay-03"><i class="zmdi zmdi-quote"></i></b>
          <div class="row">
            <div class="col-lg-12">
              <p class="quote-haead wow fadeInDown delay-05">L'éloquence est l'art d'embellir la logique.</p>
            </div>
          </div>
          <ul class="client wow fadeIn delay-05s">
            <li><a href="https://fr.wikipedia.org/wiki/Denis_Diderot">
              <h3>Denis Diderot</h3>
            </a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="main-section" id="service">
      <div class="container">
        <h2>Avantages</h2>
        <h6>du débat parlementaire ?</h6>
        <div class="service-list">
          <p class="justify">Le débat parlementaire comporte deux grands avantages. Premièrement, c’est ultra dynamique. Les jouteurs doivent répondre aux arguments adverses et poser des questions à leurs opposants. Il faut donc pouvoir improviser à la seconde et ne pas voir peur de mordre ! Deuxièmement, c’est un format qui est très populaire dans les universités anglo-saxonnes et françaises, cela nous permettra de participer à de nombreuses compétitions au long de l’année.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="main-section alabaster" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Le débat parlementaire</h2>
        <h6>en quelques lignes</h6>
        <figure class="col-lg-4 col-sm-4 wow fadeInLeft">
          <img src="../../img/clochette.png" alt="Cloche de table">
        </figure>
        <div class="col-lg-8 col-sm-8 featured-work">
          <p class="justify">Il y a huit intervenants dans ce format: deux équipes de quatre personnes de chaque côté. Chaque orateur prononce un discours d’une durée maximale de cinq minutes. La première et la dernière minute sont protégées, mais entre ces moments, des questions peuvent être posées par la partie adverse.</p>
          <p class="justify">Les discours sont donnés en alternance entre majorité et opposition, en commençant par le chef de la majorité qui présente la proposition de loi, suivi du chef de l’opposition qui présente un premier argument contre la proposition. Les deuxièmes et troisièmes représentants de chaque équipe doivent alimenter le débat avec un nouvel argument. Les deux derniers orateurs doivent résumer le débat en faveur de leur équipe respective, ils ne peuvent pas présenter de nouveaux arguments (même s’ils peuvent donner de nouvelles réponses).</p>
          <p class="justify">Ce n’est pas clair, pas grave ! La pratique reste la meilleure explication !</p>
          <h3>Horaire</h3>
          <p class="justify">Chaque réunion connaîtra un court exposé théorique sur l'éloquence et la rhétorique, une mise en pratique à travers des exercices spécifiques pour finir avec l'apothéose : le débat. Cela dure au total trois heures, dont une pause au milieu : on commence à 19 heures et finit à 22 heures. Il sera fourni de quoi se sustenter pendant la réunion.</p>
        </div>
      </div>
    </section>

    <section class="main-section" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Fonctionnement</h2>
        <h6>Principes et règles</h6>
        <div class="service-list">
          <h3>La motion</h3>
          <p class="justify">Souvent en lien avec l’actualité, le sujet est communiqué aux candidats une heure avant le début du débat. Durant ce délai, les orateurs sont amenés à réfléchir à la manière dont il convient d’appréhender le sujet en tenant tout autant compte des arguments qu’ils avanceront que de ceux qui leur seront opposés par leurs adversaires. Chaque équipe doit travailler de manière solidaire afin que la démonstration qui se dégage des discours prononcés par chacun des orateurs constituant l’équipe soit la plus cohérente possible.</p>
          <h3>Les acteurs</h3>
          <p class="justify">Le gouvernement est composé d’un Premier ministre, de deux Ministres et d’un Secrétaire général. Le Premier ministre contextualise et problématise le sujet, définit ses termes, annonce le plan de son équipe et présente le premier argument. Les ministres commencent leur discours en réfutant le discours du débatteur qui les a précédés puis développent chacun l’un des arguments de leur équipe. Le Secrétaire général résume les arguments du gouvernement et conclut. Le gouvernement est libre de définir le sujet comme il l’entend. Toute définition trop restrictive ou trop évasive est néanmoins prohibée et pénalisée.</p>
          <p class="justify">L’opposition est composée d’un Chef de l’opposition, de deux Députés et d’un Secrétaire général. Le Chef de l’opposition reprend la définition des termes du sujet donnée par le Premier ministre du gouvernement, réfute l’argument présenté par ce dernier, annonce le plan de son équipe et présente le premier argument de cette dernière. Les députés commencent leur discours en réfutant le discours du débatteur qui les a précédés puis développent chacun l’un des arguments de leur équipe. Le Secrétaire général résume les arguments de l’opposition et conclut.</p>
          <h3>Le discours</h3>
          <p class="justify">Chaque discours dure cinq minutes et se divise en trois parties, rythmées systématiquement par la clochette du jury :</p>
          <ul>
            <li>Une <em>minute protégée</em> durant laquelle personne n’est autorisé à interrompre l’orateur ;</li>
            <li>Trois <em>minutes libres</em> durant lesquelles les membres de l’équipe adverse peuvent à tout moment intervenir en posant des questions à l’orateur. Chaque participant doit impérativement accepter de répondre à au-moins une question ;</li>
            <li>Une <em>minute protégée</em> durant laquelle l’orateur conclut sans être interrompu.</li>
          </ul>
          <h3>Quelques exemples de sujets passés</h3>
            Voici une liste non-exhaustive de sujets type :
            <ul>
              <li><i>Ce gouvernement suspendrait les subsides aux artistes accusés d'attouchements sexuels ;</i></li>
              <li><i>Ce gouvernement légaliserait le dopage ;</i></li>
              <li><i>Ce gouvernement taxerait d'accises les denrées mauvaises pour la santé ;</i></li>
              <li><i>Ce gouvernement organiserait des cours d'échecs en humanités ;</i></li>
              <li><i>Ce gouvernement mettrait fin à la monnaie fiduciaire ;</i></li>
              <li><i>Ce gouvernement construirait de nouvelles lignes de métro en ville.</i></li>
            </ul>
        </div>
      </div>
    </section>

    <section class="main-section quote no-padding" id="client">
      <div class="pattern height-resize">
        <div class="container">
          <b class="quote-right wow fadeInDown delay-03"><i class="zmdi zmdi-quote"></i></b>
          <div class="row">
            <div class="col-lg-12">
              <p class="quote-haead wow fadeInDown delay-05">La démocratie est le pire des systèmes, à l'exception de tous les autres.</p>
            </div>
          </div>
          <ul class="client wow fadeIn delay-05s">
            <li><a href="https://fr.wikipedia.org/wiki/Winston_Churchill">
              <h3>Winston Churchill</h3>
            </a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="main-section contact" id="soutenir">
      <div class="container">
        <h2>Suivez Rugir !</h2>
        <h6>Suivez-nous pour être courant de nos dernières nouvelles !</h6>
        <ul class="social-link center-list">
          <li class="instagram"><a href="https://www.instagram.com/rugirbe/" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
          <li class="facebook"><a href="https://www.facebook.com/societedebat" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/societedebat" target="_blank"><i class="zmdi zmdi-linkedin"></i></a></li>
          <li class="youtube"><a href="https://www.youtube.com/@rugirbe" target="_blank"><i class="zmdi zmdi-youtube"></i></a></li>
        </ul>
      </div>
    </section>

    <section class="main-section quote3 no-padding" id="client"><!--main-section client-part-start-->
      <div class="pattern height-resize">
        <div class="container">
          <b class="quote-right wow fadeInDown delay-03"><i class="zmdi zmdi-quote"></i></b>
          <div class="row">
            <div class="col-lg-12">
              <p class="quote-haead wow fadeInDown delay-05">L'homme est, par nature, un animal politique.</p>
            </div>
          </div>
          <ul class="client wow fadeIn delay-05s">
            <li><a href="https://fr.wikipedia.org/wiki/Aristote">
              <h3>Aristote</h3>
            </a></li>
          </ul>
        </div>
      </div>
    </section>

    {% include footer.html %}

    <script type="text/javascript">
    $(document).ready(function(e) {
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function(){
        $('.main-nav').slideToggle();
        return false

      });

    });
  </script>

  <script>
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100
    }
  );
  wow.init();

</script>


<script type="text/javascript">
$(window).load(function(){

  $('.main-nav li a').bind('click',function(event){
    var $anchor = $(this);

    $('html, body').stop().animate({
      scrollTop: $($anchor.attr('href')).offset().top - 102
    }, 1500,'easeInOutExpo');
    /*
    if you don't want to use the easing effects:
    $('html, body').stop().animate({
    scrollTop: $($anchor.attr('href')).offset().top
  }, 1000);
  */
  event.preventDefault();
});
})
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
  $body = $('body'),
  colW = 375,
  columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
      .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
    $('.portfolioFilter .current').removeClass('current');
    $(this).addClass('current');

    var selector = $(this).attr('data-filter');
    $container.isotope({

      filter: selector,
    });
    return false;
  });

});

</script>

</body>
</html>
