---
permalink: /participer/
---
<!doctype html>
<html>
<head>
  <title>Société belge de Débat - Participer</title>
  <meta property="og:title" content="Participer à la Société belge de Débat" />
  {% include head.html %}
</head>
<body>
  <div style="overflow:hidden;">

    {% include header.html %}
    {% include nav.html %}


    <section class="main-section" id="participer">
      <div class="container">
        <h2>Participez !</h2>
        <div class="row">
          <div class="col-lg-12 col-sm-12 wow fadeInLeft">
            <p class="center">Pour, il suffit de venir lors d'une des réunions. Aussi simple que cela ! Nos réunions ont lieu toutes les deux semaines à la Maison de la Francité, au 18 rue Joseph II à Bruxelles près d'Arts-Loi. Le calendrier des réunions est donné ci-desous.</p>
            <p class="center">Il n’y pas de profil type : beaucoup de motivation, une envie de débattre et de se confronter sur des sujets d’actualité, voilà tout. Pour toute information complémentaire, n’hésitez pas à prendre contact avec nous.</p>
          </div>
        </div>
        <div class="video-container">
            <iframe src="https://maps.google.com/maps?q=maison%20de%20la%20francit%C3%A9&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </section>


    <section class="main-section alabaster">
      <div class="container">
        <h2>Cotisation</h2>
        <p class="justify"><b>Prix</b> -  La participation annuelle coûte € 50 pour les étudiants et € 75 pour un jeune travailleur. Il est également possible de payer individuellement pour chaque réunion : le tarif est alors de € 8 pour un étudiant et € 12 pour un jeune travailleur. Vous êtes libres de venir découvrir sans engagement, la cotisation n'est due qu'à partir de la deuxième participation. La cotisation permettant le fonctionnement quotidien de Rugir, dont une participation aux frais engendrés à chaque réunion. Ce montant devra être versé sur notre compte BE30 7340 7433 1311 avec, en communication, votre nom, prénom et « 2025-2026 ».</p>
        <p class="justify"><b>Tarif réduit</b> -  L'aspect financier n’est en aucun cas une condition pour participer. Si vous êtes dans une situation financière moins favorisée, vous pouvez profiter d’un tarif réduit. Prenez discrètement contact avec nous pour plus d’information, en envoyant un e-mail à l’adresse suivante : <a href="mailto:contact@rugir.be">contact@rugir.be</a>.</p>
      </div>
    </section>


    <section class="main-section">
      <div class="container">
        <h2>Calendrier</h2>
        <h6>Année 2025-2026</h6>
        <ul class="timeline">
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 6 septembre 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Introduction au débat parlementaire.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 30 septembre 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Construire un discours : la <i>dispositio</i> classique.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 14 octobre 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Ethos, logos, pathos.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 28 octobre 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">L'argument.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 11 novembre 2025 (Armistice)</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Posture, mots parasites et gestion du stress.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 25 novembre 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Exorde et péroraison.</p>
                </div>
            </div>
          </li>
          <li class="timeline-inverted wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-balance"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Premier choc FFDE</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> fin novembre 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Paris ou Bruxelles</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Premier choc de poule pour le championnat annuel de la <i>Fédération française de Débat et d'Éloquence</i>.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 9 décembre 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Débat de fin d'année.</p>
                </div>
            </div>
          </li>
          <li class="timeline-inverted wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-balance"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Deuxième choc FFDE</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> fin janvier 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Paris ou Bruxelles</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Deuxième choc de poule pour le championnat annuel de la <i>Fédération française de Débat et d'Éloquence</i>.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 3 février 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Le discours délibératif (cadrer, narrer, conclure).</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 17 février 2025</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Figures de style : la machine à punclines.</p>
                </div>
            </div>
          </li>
          <li class="timeline-inverted wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-balance"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Troisième choc FFDE</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> fin février 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Paris ou Bruxelles</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Troisième choc de poule pour le championnat annuel de la <i>Fédération française de Débat et d'Éloquence</i>. Si Rugir sort victorieux des poules, la compétition continuera l'année durant, à Paris.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 3 mars 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Questionner, refuter et répondre.</p>
                </div>
            </div>
          </li>
          <li class="timeline-inverted wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-balance"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Week-end de poules FFD</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> printemps 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Paris</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Week-end de poules du championnat annuel de la <i>Fédération francophone de Débat</i>. Si Rugir sort victorieux des poules, la compétition continuera les week-ends suivants.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 17 mars 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Tactique indivuelle et stratégie d'équipe.</p>
                </div>
            </div>
          </li>
          <li class="timeline-inverted wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-star"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Fête de la francophonie</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 22 mars 2026 (à confirmer)</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Bruxelles</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Évènement public surprise dans le cadre la fête de la francophonie.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 31 mars 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Le discours épidictique.</p>
                </div>
            </div>
          </li>
          <li class="wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-accounts"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 28 avril 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify">Analyse du discours.</p>
                </div>
            </div>
          </li>
          <li class="timeline-inverted wow fadeInLeft delay-05s">
            <div class="timeline-badge"><i class="zmdi zmdi-graduation-cap"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h3 class="timeline-title">Réunion finale</h3>
                <p><small class="text-muted"><i class="zmdi zmdi-calendar-check"></i> 5 mai 2026</small></p>
                <p><small class="text-muted"><i class="zmdi zmdi-pin"></i> Classe verte, Maison de la Francité</small></p>
              </div>
              <div class="timeline-body">
                <p class="justify"><i>Surprise.</i></p>
                </div>
            </div>
          </li>
      </div>
    </section>


    <section class="main-section alabaster" id="service"><!--main-section-start-->
      <div class="container">
        <h2>Les championnats</h2>
        <p class="justify">Au-delà des entraînements bimensuels, notre objectif est de participer à un maximum de championnats internationaux pour rencontrer et se confronter à des étudiants de toute la francophonie.</p>
        <h3>Championnat de la FFDE</h3>
        <p class="justify">En tant que membre de la <i>Fédération Française de Débat et d'Eloquence</i>, Rugir participe à son championnat qui dure l'année durant, les rencontres prévoyant chaque fois 24 heures de préparation. Ces compétitions sont organisées avec les étudiants des associations partenaires sous la forme de chocs par équipe. Les sujets débattus sont généralement en lien avec l'actualité ou abordent les grands sujets de société. En tant qu'unique association belge participant, nous représenterons la Belgique dans son ensemble, indépendamment des différentes universités et facultés. <a href="https://www.youtube.com/@federationfrancaisededebat1002">En savoir plus...</a></p>
        <h3>Fédération francophone de Débat</h3>
        <p class="justify">Rugir est également membre de la <i>Fédaration francophone de Débat</i> qui organise le plus grand concours de débat parlementaire de la francophonie. Celui a lieu sur un mois seulement, au début du printemps. Les phases de poule durent un week-end entier où les débats s'enchaînent, ainsi que les participants et les équipes affrontées. Une heure de préparation, une heure de débat et rebelotte. Qu'est-ce que c'est gai !  <a href="https://ffdebat.org/coupe-de-france/">En savoir plus...</a></p>
        <h3 style="font-variant:normal; font-style:italic;">Plus à venir...</h3>
        <h2>Modalités</h2>
        <p class="justify"><b>Financement</b> -  Le coût lié à la participation aux voyages est à charge des membres. Ceux-ci seront organisés avec les associations partenaires afin d’en limiter les dépenses au strict minimum. Pour les voyages à Paris par exemple, le covoiturage sera encouragé. De plus, les voyages seront annoncés plusieurs mois à l'avance afin de pouvoir profiter des meilleurs tarifs.</p>
      </div>
    </section>

    {% include footer.html %}

    <script type="text/javascript">
    $(document).ready(function(e) {
      $('#test').scrollToFixed();
      $('.res-nav_click').click(function(){
        $('.main-nav').slideToggle();
        return false

      });

    });
    </script>

    <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();

    </script>


    <script type="text/javascript">
    $(window).load(function(){

      $('.main-nav li a').bind('click',function(event){
        var $anchor = $(this);

        $('html, body').stop().animate({
          scrollTop: $($anchor.attr('href')).offset().top - 102
        }, 1500,'easeInOutExpo');
        /*
        if you don't want to use the easing effects:
        $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      event.preventDefault();
    });
  })
  </script>

  <script type="text/javascript">

  $(window).load(function(){


    var $container = $('.portfolioContainer'),
    $body = $('body'),
    colW = 375,
    columns = null;


    $container.isotope({
      // disable window resizing
      resizable: true,
      masonry: {
        columnWidth: colW
      }
    });

    $(window).smartresize(function(){
      // check if columns has changed
      var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
      if ( currentColumns !== columns ) {
        // set new column count
        columns = currentColumns;
        // apply width to container manually, then trigger relayout
        $container.width( columns * colW )
        .isotope('reLayout');
      }

    }).smartresize(); // trigger resize to set container width
    $('.portfolioFilter a').click(function(){
      $('.portfolioFilter .current').removeClass('current');
      $(this).addClass('current');

      var selector = $(this).attr('data-filter');
      $container.isotope({

        filter: selector,
      });
      return false;
    });

  });

  </script>

  <?php if($inscr_open){ ?>
    <script>
    $(document).ready(function(e) {

      $('#motivation').keyup(function() {

        var nombreMots = jQuery.trim($(this).val()).split(' ').length;

        var msg =  nombreMots + '  / 300';
        $('#compteur').text(msg);
        if (nombreMots > 300) {
          $('#compteur').addClass("bad");
          document.getElementById('confirmer').disabled = true;
        }
        else {
          $('#compteur').removeClass("bad");
          document.getElementById('confirmer').disabled = false;
        }

      })

    });
    </script>
  <?php } ?>


</body>
</html>
`
