<section class="main-section alabaster" id="contact">
    <div class="container">
        <div class="wow fadeInLeft">
            <div class="contact-info-box clearfix">
                <h3><i class="zmdi zmdi-pin"></i>Siège social</h3>
                <span>Avenue Orban 136<br />1150 Bruxelles</span>
            </div>
            <div class="contact-info-box clearfix">
                <h3><i class="zmdi zmdi-phone"></i>Téléphone</h3>
                <span>+32 494 55 85 69</span>
            </div>
            <div class="contact-info-box clearfix">
                <h3><i class="zmdi zmdi-edit"></i>E-mail</h3>
                <span
                    ><a href="mailto:contact@rugir.be"
                        >contact@rugir.be</a
                    ></span
                >
            </div>
            <div class="contact-info-box clearfix">
                <h3><i class="zmdi zmdi-card"></i>IBAN</h3>
                <span>BE30 7340 7433 1311 <br />BIC: CREGBEBBNBB</span>
            </div>
        </div>
    </div>
</section>
